
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.stick{
    height: 100px;
    background: black;
    width: 50px;
    padding-left: 50px;

}
.trafficLight{
    height: 190px;
    width: 100px;
    background: purple;
    margin-top: 100px;
    
    

}


.Light{
    border-radius: 50%;
    margin-top: 10px;
}

.red{
    background: red;
    width: 50px;
    height: 50px;
border-radius: 50px;
}

.yellow{
    background: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50px;

}
.green{
    background: green;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}